@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Khu phố 3<br />
    Tân Thiện, Thị xã Lagi Tỉnh Bình Thuận<br />
    <abbr title="Phone">0889245443</abbr>
    44335
</address>

<address>
    <strong>Hỗ Trợ:</strong>   <a href="example.com"></a><br />
    <strong>Thị trường:</strong> <a href="https://www.marketing.com/"></a>
</address>